.example-container {
  width: 100%;
}
.color{
  background-color: #ef5350;
}
.side{
  position: fixed;
}
mat-sidenav {
    background-color: white !important;
  }
  .contenido {
    margin-top: 0px;
}
  mat-toolbar {
    position: relative;
    z-index: 0;
  }
  
  @media screen and (min-width: 960px) {
    mat-toolbar {
       z-index: 50;
    }
  }
  
  @media screen and (max-width: 599px) {
    mat-toolbar {
       z-index: 0;
    }
  }
  
  @media screen and (max-width: 599px) {
      .main-sidenav-container {
          width: 100%;
          height: calc(100vh - 56px);
          z-index: 100;
      }
  }
  
  @media screen and (min-width: 600px) {
    .main-sidenav-container {
        width: 100%;
        height: calc(100vh - 64px);
    }
  }