<mat-toolbar  class="color mat-elevation-z6">
  <button mat-icon-button (click)="opened = !opened">
    <mat-icon>menu</mat-icon>
    </button> 
    PokeDex
</mat-toolbar>
<mat-sidenav-container class="example-container" (backdropClick)="opened = !opened">
    <mat-sidenav [mode]="mode"
    [opened]="opened"
    [fixedInViewport]="true"
    [fixedTopGap]="layoutGap" class="side">
      <mat-nav-list >
        <a mat-list-item routerLink="/home">Home</a>
        <a mat-list-item routerLink='/fuego'>Tipo Fuego</a>
        <a mat-list-item routerLink='/agua'>Tipo Agua</a>
        <a mat-list-item routerLink='/hierba'>Tipo Hierba</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>