<div fxFlex="100" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="none center">
    <div fxFlex="45">
        <img
            class="imagen"
            src="{{pokemon.imagen}}"
            alt="pokemon">
    </div>

    <div fxFlex="50">
        <mat-card class="card">
            <mat-tab-group class="tab">
                <mat-tab label="Pokédex">
                    <mat-list role="list">
                        <mat-list-item role="listitem">
                            <div fxFlex="100" fxLayout="row" fxLayoutAlign="none
                                center">
                                <div fxFlex="70">
                                    <label>Types:</label>
                                </div>
                                <div fxFlex="20" fxLayout="row"
                                    fxLayoutAlign="none center">

                                    <button mat-button color="primary" disabled>{{pokemon.type.type1}}</button>
                                    <button mat-button color="primary" disabled>{{pokemon.type.type2}}</button>
                                </div>
                            </div>
                        </mat-list-item>
                        <mat-list-item role="listitem">
                            <div fxFlex="100" fxLayout="row" fxLayoutAlign="none
                                center">
                                <div fxFlex="70">
                                    <label>Height:</label>
                                </div>
                                <div fxFlex="20" fxLayout="row"
                                    fxLayoutAlign="none center">
                                    {{pokemon.detalle[0].pokedex.height}}
                                </div>
                            </div>
                        </mat-list-item>
                        <mat-list-item role="listitem">
                            <div fxFlex="100" fxLayout="row" fxLayoutAlign="none
                                center">
                                <div fxFlex="70">
                                    <label>Weight:</label>
                                </div>
                                <div fxFlex="20" fxLayout="row"
                                    fxLayoutAlign="none center">
                                    {{pokemon.detalle[0].pokedex.weight}}
                                </div>
                            </div>
                        </mat-list-item>
                        <mat-list-item role="listitem">
                            <div fxFlex="100" fxLayout="row" fxLayoutAlign="none center">
                                <div fxFlex="60">
                                    <label>Abilities:</label>
                                </div>
                                <div fxFlex="30" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
                                    
                                    <button mat-button color="primary" disabled>{{pokemon.detalle[0].pokedex.abilities.a}}</button>
                                    <button mat-button color="primary" disabled>{{pokemon.detalle[0].pokedex.abilities.b}}</button>
                                    <button mat-button color="primary" disabled>{{pokemon.detalle[0].pokedex.abilities.c}}</button>
                                </div>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </mat-tab>
                <mat-tab label="Stats">
                    <mat-list role="list" >
                        <mat-list-item role="listitem" >
                            <div fxFlex="100" fxLayout="row" fxLayoutAlign="none
                                center">
                                <div fxFlex="70">
                                    <label>HP:</label>
                                </div>
                                <div>
                                    <mat-chip-list aria-label="Fish selection">
                                        <mat-chip color="warn" selected>{{pokemon.detalle[0].stats.hp}}</mat-chip>
                                    </mat-chip-list>
                                </div>
                            </div>
                        </mat-list-item>
                        <mat-list-item role="listitem" >
                            <div fxFlex="100" fxLayout="row" fxLayoutAlign="none
                                center">
                                <div fxFlex="70">
                                    <label>Attack:</label>
                                </div>
                                <div>
                                    <mat-chip-list aria-label="Fish selection">
                                        <mat-chip color="warn" selected>{{pokemon.detalle[0].stats.attack}}</mat-chip>
                                    </mat-chip-list>
                                </div>
                            </div>
                        </mat-list-item>
                        <mat-list-item role="listitem" >
                            <div fxFlex="100" fxLayout="row" fxLayoutAlign="none
                                center">
                                <div fxFlex="70">
                                    <label>Defense:</label>
                                </div>
                                <div>
                                    <mat-chip-list aria-label="Fish selection">
                                        <mat-chip color="warn" selected>{{pokemon.detalle[0].stats.defense}}</mat-chip>
                                    </mat-chip-list>
                                </div>
                            </div>
                        </mat-list-item>
                        <mat-list-item role="listitem" >
                            <div fxFlex="100" fxLayout="row" fxLayoutAlign="none
                                center">
                                <div fxFlex="70">
                                    <label>Special Attack:</label>
                                </div>
                                <div>
                                    <mat-chip-list aria-label="Fish selection">
                                        <mat-chip color="warn" selected>{{pokemon.detalle[0].stats.specialattack}}</mat-chip>
                                    </mat-chip-list>
                                </div>
                            </div>
                        </mat-list-item>
                        <mat-list-item role="listitem" >
                            <div fxFlex="100" fxLayout="row" fxLayoutAlign="none
                                center">
                                <div fxFlex="70">
                                    <label>Special Defense:</label>
                                </div>
                                <div>
                                    <mat-chip-list aria-label="Fish selection">
                                        <mat-chip color="warn" selected>{{pokemon.detalle[0].stats.specialdefense}}</mat-chip>
                                    </mat-chip-list>
                                </div>
                            </div>
                        </mat-list-item>
                        <mat-list-item role="listitem" >
                            <div fxFlex="100" fxLayout="row" fxLayoutAlign="none
                                center">
                                <div fxFlex="70">
                                    <label>Speed:</label>
                                </div>
                                <div>
                                    <mat-chip-list aria-label="Fish selection">
                                        <mat-chip color="warn" selected>{{pokemon.detalle[0].stats.speed}}</mat-chip>
                                    </mat-chip-list>
                                </div>
                            </div>
                        </mat-list-item>
                        <mat-list-item role="listitem" >
                            <div fxFlex="100" fxLayout="row" fxLayoutAlign="none
                                center">
                                <div fxFlex="70">
                                    <label>Total:</label>
                                </div>
                                <div>
                                    <mat-chip-list aria-label="Fish selection">
                                        <mat-chip color="warn" selected>{{ total }}</mat-chip>
                                    </mat-chip-list>
                                </div>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </mat-tab>
                <mat-tab label="Evolution">
                    <mat-list *ngFor="let item of evolucion; let i=index">
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <div>
                                <img src="{{item.image}}"/>
                            </div>
                            <div>
                                {{item.name}}
                            </div>
                        </div>
                    </mat-list>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>