.example-card {
    width: 100%;
    height: 90%;
    max-width: 100%;
  }
  .color{
    background-color: #ef5350;
    padding: 0em;
  }
  .margin{
    margin: 5%;
  }

  

.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}

.search-hero {
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}
.form-control::placeholder  {
  font-family: FontAwesome;
}