<div class="search-hero">
    <mat-form-field class="example-full-width">
        <input matInput 
        name="search" 
        #search="ngModel" 
        [(ngModel)]="searchText" autocomplete="off" 
        placeholder="ingrese pokemon">
      </mat-form-field>
    
</div>
<div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="start none"
    class="margin">
    
    <div fxFlex="0 1 calc(25% - 30px)" 
    *ngFor="let pokemon of pokemon | filter:searchText;let i=index;">
        <mat-card class="example-card">
            <mat-card-header class="color">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-card-title>{{pokemon.name}}</mat-card-title>
                    <h5>#00{{i+1}}</h5>
                </div>
            </mat-card-header>
            <img mat-card-image
            [routerLink]="['/home/',pokemon.id]"
                src="{{pokemon.imagen}}"
                alt="pokemon{{i+1}}">
            <mat-card-content>
                <button mat-button>{{pokemon.type.type1}}</button>
                <button mat-button>{{pokemon.type.type2}}</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>